target/*
commons/target/*
utility/target/*

/createrepo/target/
/server/target/
/sqlite/target/
/SpeedUp/target/
/primarysqlite/target/
/othersqlite/target/
/filessqlite/target/
/filelistsqlite/target/
/web/target/
/commonsqlite/target/
/engine/target/